$white: #FFF;


$standard-font-family: Arial,sans-serif !default;
$standard-font-size: 16px !default;
$standard-font-weight: 400 !default;

$standard-text-color: $white !default;

$standard-grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr)) !default;
$standard-grid-gap: 2rem !default;
$standard-grid-margin: 0 40px !default;

$item-width: 100% !default;
$item-height: 200px !default;
$item-valign: top !default;
$item-bg-size: cover !default;
$item-border-radius: 10px !default;
$item-box-shadow: 0px 1px 12px 4px black !default;
