<div class="movie-detail" *ngIf="movie">
  <div class="detail-header">
    <div class="container large">
      <h1 class="header-title">{{movie.Title}} Details</h1>
      <p class="header-summary">{{movie.Plot}}</p>
      <p class="header-rating">Rating - {{movie.Ratings[0].Value}}</p>
      <p class="header-actors">Actors - {{movie.Actors}}</p>
    </div>
    <div class="container small">
      <div class="header-image-holder">
        <div class="header-image" *ngIf="movie.Poster" [style.backgroundImage]="'url(' + movie.Poster + ')'"></div>
      </div>
    </div>
    <div class="back-btn" (click)="goBack()"><i class="flaticon-cancel"></i></div>
  </div>
</div>
