<div class="movies-overview">
  <a class="movie" *ngFor="let movie of this.MovieService.MovieList; index as i" routerLink="/detail/{{movie.Title}}">
    <div class="movie-poster" *ngIf="movie.Poster" [style.backgroundImage]="'url(' + movie.Poster + ')'"></div>
    <div class="movie-text">
      <h1 class="title">{{movie.Title}}</h1>
      <p class="year">{{movie.Year}}</p>
    </div>
    <div class="overlay">
      <div *ngIf="isFavorited(movie); else ElseBlock" class="heart favorited" [classList]="isFavorited(movie)" (click)="addToFavorites(movie)"></div>
      <ng-template #ElseBlock>
        <div class="heart" [classList]="isFavorited(movie)" (click)="addToFavorites(movie)"></div>
      </ng-template>
    </div>
  </a>
</div>
