<header>
  <div class="header">
    <div class="logo">
      <img src="../assets/img/logo.png" alt="Logo" class="logo-image">
    </div>
    <div class="pages">
      <ul class="tab-list">
        <li routerLink="/home" class="tabs link active-link"><a href="#">Movies</a></li>
        <li class="tabs link"><a href="#">Series</a></li>
        <li class="tabs link"><a href="#">Favorites</a></li>
      </ul>
      <ul class="icon-list">
        <li class="icons link"><a href="#">X</a></li>
        <li class="icons link"><a href="#">X</a></li>
        <li class="icons link"><a href="#">X</a></li>
      </ul>
<!--      <ul class="tab-list">-->
<!--        <li class="tabs link active-link"><a href="#" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Movies</a></li>-->
<!--        <li class="tabs link"><a href="#" routerLink="/Series" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Series</a></li>-->
<!--        <li class="tabs link"><a href="#" routerLink="/Favorites" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Favorites</a></li>-->
<!--      </ul>-->
<!--      <ul class="icon-list">-->
<!--        <li class="icons link"><a href="#" routerLink="/blah" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">X</a></li>-->
<!--        <li class="icons link"><a href="#" routerLink="/blah" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">X</a></li>-->
<!--        <li class="icons link"><a href="#" routerLink="/blah" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">X</a></li>-->
<!--      </ul>-->
    </div>
  </div>
</header>
<div class="view-block">
  <app-movies-overview>
  </app-movies-overview>
</div>


