/* You can add global styles to this file, and also import other style files */
html{
  background: #17181b;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #FFF;
}
